<section class="recent-posts">
  <h2 class="section-title">
      <span>Latest news</span>
  </h2>

  <article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
    <div class="post-thumb">
      <a href="http://devtest.nycbullion.com/index.php/2015/02/16/2016-porsche-cayman-gt4-revealed/">
        <img src="http://devtest.nycbullion.com/wp-content/uploads/2015/02/2015-Porsche-Cayman-GT4-Blue-5-1920x1200-270x200.jpg" alt="">
      </a>
    </div>
    <section class="entry-body">
      <header class="entry-header">
        <h3 class="entry-title">
          <a href="http://devtest.nycbullion.com/index.php/2017/11/01/hello-world/" rel="bookmark">Hello world!</a>
        </h3>
      </header>

      <div class="entry-meta">
        <span class="entry-author">By <a href="http://devtest.nycbullion.com/index.php/author/admin/" title="Posts by admin" rel="author">admin</a></span>
        <span class="entry-date"><time class="entry-date" datetime="2017-11-01T17:34:20+00:00">November 1, 2017</time></span>
        <span class="cat-links"><a href="http://devtest.nycbullion.com/index.php/category/uncategorized/" rel="category tag">Uncategorized</a></span>
        <span class="comments-link"><a href="http://devtest.nycbullion.com/index.php/2017/11/01/hello-world/#comments">1 comment</a></span>\
      </div>

      <div class="entry-content">
        <p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
      </div>
    </section>
    <div class="clearfix"></div>
  </article><!-- #post-## -->

  <div class="navigation">
    <span class='page-numbers current'>1</span>
    <a class='page-numbers' href='http://devtest.nycbullion.com/index.php/page/2/'>2</a>
    <a class='page-numbers' href='http://devtest.nycbullion.com/index.php/page/3/'>3</a>
    <span class="page-numbers dots">&hellip;</span>
    <a class='page-numbers' href='http://devtest.nycbullion.com/index.php/page/5/'>5</a>
    <a class="next page-numbers" href="http://devtest.nycbullion.com/index.php/page/2/">Next &rarr;</a>
  </div>
</section><!-- .recent-posts -->
