<div id="slider">
  <ul class="slides clearfix">
    <li class="slide">
      <img src="http://devtest.nycbullion.com/wp-content/uploads/2015/02/Claire-Hadden-801x450.jpg" alt="Image: KIERAN KESNER FOR MASHABLE" class="Thumbnail thumbnail featured " height="450" />
      <div class="slide-overlay">
          <div class="slide-header">
              <h3>
                <a href="http://devtest.nycbullion.com/index.php/2015/02/17/this-fierce-blizzard-has-made-february-bostons-snowiest-month-ever/">This fierce blizzard has made February Boston&#8217;s snowiest month ever</a>
              </h3>
              <div class="entry-meta">
                  <span class="entry-date"><time class="entry-date" datetime="2015-02-17T10:19:50+00:00">February 17, 2015</time></span>                                <span class="comments-link"><a href="http://devtest.nycbullion.com/index.php/2015/02/17/this-fierce-blizzard-has-made-february-bostons-snowiest-month-ever/#respond">0 comments</a></span>
              </div>
          </div>
      </div>
    </li>
  </ul>
</div>
