<div id="slider">
  <ul class="slides clearfix">
    <% @featured_posts.each do | feature_post | %>
      <li class="slide">
        <img src="<%= feature_post.image_url %>" alt="Image: KIERAN KESNER FOR MASHABLE" class="Thumbnail thumbnail featured " width="801" height="450" />
        <div class="slide-overlay">
            <div class="slide-header">
                <h3>
                  <%= link_to post_path( feature_post ) do %>
                    <%= feature_post.title %>
                  <% end %>
                </h3>
                <div class="entry-meta">
                    <span class="entry-date"><time class="entry-date"><%= feature_post.original_date %></time></span>
                    <!-- <span class="comments-link"><a href="http://devtest.nycbullion.com/index.php/2015/02/17/this-fierce-blizzard-has-made-february-bostons-snowiest-month-ever/#respond">0 comments</a></span> -->
                </div>
            </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
