<div id="news-ticker">
    <div class="inner-wrap clearfix">
        <h3>Breaking News</h3>
        <div class="news-ticker-container">
          <dl id="ticker">
            <dt>3 years ago </dt>
            <dd>
              <a href="http://devtest.nycbullion.com/index.php/2015/02/16/apple-reports-record-earnings-and-ipad-sales/" title="Apple Reports Record Earnings and iPad Sales">Apple Reports Record Earnings and iPad Sales</a>
            </dd>
          </dl>
        </div>
    </div><!-- .wrap -->
</div><!-- #news-ticker -->
