<div id="news-ticker">
    <div class="inner-wrap clearfix">
        <h3>Breaking News</h3>
        <div class="news-ticker-container">
          <dl id="ticker">
            <dt>Today's Gold Price </dt>
            <dd>
              <a href="#" title="Gold Spot Price" disabled>$ <%= Kitco.gold[ :bid ] %></a>
            </dd>
            <dt>Today's Silver Price </dt>
            <dd>
              <a href="#" title="Silver Spot Price" disabled>$ <%= Kitco.silver[ :bid ] %></a>
            </dd>
            <dt>Today's Platinum Price </dt>
            <dd>
              <a href="#" title="Platinum Spot Price" disabled>$ <%= Kitco.platinum[ :bid ] %></a>
            </dd>
            <dt>Today's Palladium Price </dt>
            <dd>
              <a href="#" title="Palladium Spot Price" disabled>$ <%= Kitco.palladium[ :bid ] %></a>
            </dd>
          </dl>
        </div>
    </div><!-- .wrap -->
</div><!-- #news-ticker -->
