<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="footer-widgets widgets widget-columns-4">
    <div class="column">
      <div class="widget widget_text" id="text-2">
        <h3 class="title">About us</h3>
        <div class="textwidget">Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.</div>

        <div class="clear"></div>
      </div>
    </div><!-- .column -->

    <div class="column">
      <div class="widget widget_meta" id="meta-3">
        <h3 class="title">Meta</h3>
        <ul>
          <li><a href="http://devtest.nycbullion.com/wp-login.php">Log in</a></li>
          <li><a href="http://feeds.marketwatch.com/marketwatch/StockstoWatch/">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
          <li><a href="http://devtest.nycbullion.com/index.php/comments/feed/">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
          <li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
        </ul>

        <div class="clear"></div>
      </div>
    </div><!-- .column -->

    <div class="column"></div><!-- .column -->
    <div class="column"></div><!-- .column -->

    <div class="clear"></div>
  </div><!-- .footer-widgets -->

  <hr class="site-footer-separator">

  <div class="site-info">
    <p class="copyright">
        Copyright &copy; 2017 &mdash; My WordPress Website. All Rights Reserved
    </p>

    <p class="designed-by">
        Designed by <a href="http://www.wpzoom.com">WPZOOM</a>
    </p>
  </div><!-- .site-info -->
</footer><!-- #colophon -->
