<nav class="navbar" role="navigation">
    <div class="inner-wrap">
        <div class="navbar-brand">
            <a href="http://devtest.nycbullion.com" title="Just another WordPress site">
                <img src="http://devtest.nycbullion.com/wp-content/uploads/2017/11/logo-1.png" alt="My WordPress Website" width="292" height="104">
            </a>
        </div><!-- .navbar-brand -->

        <nav class="main-navbar" role="navigation">
          <div class="navbar-header">
            <a class="navbar-toggle" href="#menu-main-slide">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <div id="menu-main-slide" class="menu-main-container">
              <ul id="menu-main" class="menu">
                <li id="menu-item-2170" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-2170">
                  <a href="http://devtest.nycbullion.com/">Blog</a>
                  <ul  class="sub-menu">
                   <li id="menu-item-2171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2171"><a href="#">Weekly Market Analysis</a></li>
                   <li id="menu-item-2172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2172"><a href="#">Daily Market Review</a></li>
                   <li id="menu-item-2173" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2173"><a href="#">Market News</a></li>
                   <li id="menu-item-2174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2174"><a href="#">New Releases</a></li>
                   <li id="menu-item-2175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2175"><a href="#">Precious Metals Investing</a></li>
                   <li id="menu-item-2176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2176"><a href="#">Miscellaneous</a></li>
                  </ul>
                </li>
                <li id="menu-item-2177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2177"><a href="https://bullionexchanges.com/buy-gold">Gold</a></li>
                <li id="menu-item-2178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2178"><a href="https://bullionexchanges.com/buy-silver">Silver</a></li>
                <li id="menu-item-2179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2179"><a href="https://bullionexchanges.com/buy-platinum">Platinum</a></li>
                <li id="menu-item-2180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2180"><a href="https://bullionexchanges.com/deals">On Sale</a></li>
                <li id="menu-item-2181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2181"><a href="https://bullionexchanges.com/ira">IRA</a></li>
                <li id="menu-item-2182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2182"><a href="https://bullionexchanges.com/sell-to-us">Sell To Us</a></li>
                <li id="menu-item-2183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2183"><a href="https://bullionexchanges.com/charts/gold-price">Charts</a></li>
              </ul>
            </div>
          </div>

          <div id="navbar-main">
            <div class="menu-main-container">
              <ul id="menu-main-1" class="nav navbar-nav dropdown sf-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-2170">
                  <a href="http://devtest.nycbullion.com/">Blog</a>
                  <ul  class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2171"><a href="#">Weekly Market Analysis</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2172"><a href="#">Daily Market Review</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2173"><a href="#">Market News</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2174"><a href="#">New Releases</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2175"><a href="#">Precious Metals Investing</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2176"><a href="#">Miscellaneous</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2177"><a href="https://bullionexchanges.com/buy-gold">Gold</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2178"><a href="https://bullionexchanges.com/buy-silver">Silver</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2179"><a href="https://bullionexchanges.com/buy-platinum">Platinum</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2180"><a href="https://bullionexchanges.com/deals">On Sale</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2181"><a href="https://bullionexchanges.com/ira">IRA</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2182"><a href="https://bullionexchanges.com/sell-to-us">Sell To Us</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2183"><a href="https://bullionexchanges.com/charts/gold-price">Charts</a></li>
              </ul>
            </div>
          </div><!-- #navbar-main -->
        </nav><!-- .navbar -->

        <form role="search" method="get" class="search-form" action="http://devtest.nycbullion.com/">
          <label>
            <span class="screen-reader-text">Search for:</span>
            <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
          </label>
          <input type="submit" class="search-submit" value="Search" />
        </form>
        <div class="clear"></div>
    </div>
</nav><!-- .navbar -->
